<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Chat</title>
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center">
        <h2>Chat</h2>
        <p class="lead">Enter your name and start chatting</p>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>Message form</h3>
          <form id="messForm">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control">
            <br>
            <label for="message">Message</label>
            <textarea name="message" id="message" class="form-control" placeholder="Enter your message"></textarea>
            <br>
            <input type="submit" value="Send" class="btn btn-danger">
          </form>
        </div>
        <div class="col-6">
          <h3>Messages</h3>
          <div id="feedback"></div>
          <div id="all_mess"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="chat.js"></script>
  </body>
</html>